h1,h2 {
  color: #fff;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

#showcase {
  height: 86vh;
  color: #fff;
  background: #333;
  position: relative;
}

#showcase::before {
  content: '';
  background: url('../img/lib.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .container .showcase-container .showcase-content {
  z-index: 1;
}

input {
  padding: 1.5em 0 1.5em 1em;
}

.hero-text {
  width: 350px;
}


@media screen and (min-width: 320px) {
  .showcase-content {
    margin-top: 20px;
  }
}